@model WebPortal.Models.MaterijalModel
@{
    //ViewBag.Title = "UploadMaterijal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/js")  @*Sluzi za postavljanje imena fajla kada isti bude izabran.*@

<style>
    .file {
        visibility: hidden;
        position: absolute;
    }
</style>


<div id="sredina">
    @using (Html.BeginForm("UploadMaterijal", "UploadMaterijal", FormMethod.Post, new { enctype = "multipart/form-data", id = "postavkaMat" }))
    {
        @*//dragan kuzman
            @Html.TextBox("file", "", new { type = "file" }) <br />*@


        <input type="file" name="file" id="file" class="inputfile" />
        <label for="file" id="izaberi-materijal"><img src="~/Content/img/upload2.png" alt="Izaberite Dokument"> <span id="filename">Izaberite dokument...</span></label>

        <label for="materijalNaslov">Naslov</label>
        <input id="materijalNaslov" type="text" placeholder="naslov">

        <label for="opis">Opis</label>
        //<textarea id="materijalOpis" placeholder="Describe yourself here..."></textarea>
        @Html.TextAreaFor(model => model.materijalOpis, new { placeholder = "Your Placeholder Text" });

        <button type="submit" id="postavi">
            POSTAVI
        </button>


        //dragan kuzman
        @*<input type="submit" id="postavi" value="Postavi materijal" />
            @ViewBag.Message
            <br />*@
    }
</div>

<br />

@Html.ActionLink("Vidi sve materijale-->", "MaterijaliPrikaz", "UploadMaterijal")

@*<script>
        $(document).ready(function () {
            $(".browse").on('click', function () {
                var file = $(this).parent().parent().parent().find('.file');
                file.trigger('click');
            });
            $(".file").on('change', function () {
                $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
            });
        });
    </script>*@

